.card {
    background-color: #131516EE;
    border: #9e9bA5 3px outset;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 3s;
    font-size: larger;
    font-weight: bold;
    transition: 0.5s;
}
.card:hover {
    background-color: #1a151a;
    color: aqua;
}
.card span {
    font-size: larger;
    font-weight: 400;
}
.card p {
    font-size: xx-large;
    color: aquamarine;
}