.panel {
    background-color: #1c1c1cEE;
    border: #9c9cAc 3px outset;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.panel div {
    background-color: #131516EE;
    transition: 0.5s;
    border:#a3a3a3 3px outset;
    border-radius: 10px;
    transition: 2s;
}

.panel div:hover {
    background-color: #1a151a;
}

.panel div input {
    padding: 10px;
    width: 95%;
    background-color: #131516EE;
    color: #d8d4cf;
    font-size: larger;
    border: none;
    border-radius: 10px;
}

.panel div button {
    width: 100%;
    background: none;
    color: #d8d4cf;
    padding: 15px;
    font-size: x-large;
    border-radius: 10px;
    border: none;
    transition: 1s;
}
.panel div button:hover {
    background-color: #2F252F;
}
audio {
    border-radius: 50px;
}