.panel {
    background-color: #1c1c1c;
    border: #9c9c9c 2px solid;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
}

.panel div {
    background-color: #1c1c1c;
    transition: 0.5s;
    border:#a3a3a3 3px outset;
    border-radius: 10px;
    transition: 2s;
}

.panel div:hover {
    background-color: #2f2f2f;
}

.panel div input {
    width: 99%;
    background-color: #1c1c1c;
    color: #f3ffe3;
    font-size: larger;
    border: none;
    border-radius: 10px;
}

.panel div button {
    width: 100%;
    background: none;
    color: #f3ffe3;
    padding: 15px;
    font-size: x-large;
    border-radius: 10px;
    border: none;
    transition: 1s;
}
.panel div button:hover {
    background-color: #424242;
}
audio {
    border-radius: 50px;
}