html {
    background-color:#171717;
    color: #f3ffe3;
    padding: 20px;
    font-size: x-large;
}
section {
    margin: auto auto;
    max-width: 1200px;
    grid-template-columns: auto 40%;
}
audio {
    background-color: #171717;
}
@media only screen and (max-width: 800px) {
    section {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}